.InputContainer{
  position: relative;
  padding-top: 13px;
}

.InputContainer input{
  border: 1px solid lightgrey;
  border-radius: 5px;
  outline: none;
  min-width: 300px;
  padding: 15px 20px;
  font-size: 16px;
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -webkit-appearance:none;
}

.InputContainer input:focus{
  border: 1px solid #1900ff;
}

.InputContainer input::placeholder{
  color:transparent;
}

.InputContainer label{
  pointer-events: none;
  position: absolute;
  top: calc(50% - 8px);
  left: 15px;
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  background-color: white;
  padding: 5px;
  box-sizing: border-box;
}

.InputContainer input:focus + label,
.InputContainer input:not(:placeholder-shown) + label{
  font-size: 13px;
  top: 0;
  color: #1900ff;
}